# Importing Libaries & Python Data Types

### This script contains the following points:
1. Importing libraries
2. Learn about different data types

### 1. Importing Libraries

In [1]:
# Import Libraries
import pandas as pd
import numpy as np
import os

### 2. Data Types

In [5]:
x = 2

In [6]:
x

2

In [7]:
print(x)

2

In [8]:
# Because x = 2, x is an integer (whole number, no decimals)
# Better way to determine the data type of a variable is this:
type(x)

int

In [9]:
# This below is a floating point number; it has decimals.
y = 5.678

In [11]:
type(y)

float

In [13]:
z = 'Brazil'

In [14]:
type(z)

str

In [15]:
m = 'monkey'

In [16]:
type('Mania')

str

In [18]:
# Practice with boolean data types.
type(True)

bool

In [20]:
type(False)

bool

In [ ]:
# Operations

In [21]:
x + 4

6

In [22]:
x + y

7.678

In [23]:
# Redefine x with the below operation. Above, x + 4, did NOT change the value of x, but this will:
x = x + 4
print(x)

6

In [24]:
# Performing operations with strings:
a = 'Hello, '
b = 'Marley'
a + b

'Hello, Marley'

In [ ]:
# You can concatenate strings like the above, but you can't subtract them. For example, you cant subtract
# 'foot' from 'football'

In [25]:
# You can multiply strings. See what happens below:
a = 'potato'
a * 12

'potatopotatopotatopotatopotatopotatopotatopotatopotatopotatopotatopotato'

In [26]:
# Booleans don't perform operations. Instead they're typically the result of operations.
x == y
# x is acutally 6, and y is 5.678, so they are not equal, which why we got False when asking if x equals y.

False

In [27]:
type(x==y)

bool